
#main {
    background-image: url(../img/order/BG-OrderOnline.jpg);
    background-repeat: repeat-y;
    background-size: 100% 100%;
    margin: 0 auto !important;
    padding: 90px 110px !important;
    z-index: 2;
    min-height: 1200px;
    }
    #footer {
        background-image: url(../img/footer/bg_footer.png);
        background-repeat: repeat-x;
        bottom: 0px;
        color: white;
        font-size: 12px;
        width: 100%;
        padding: 8px 15px;
        display: flex;
    }
    #footer .left-footer ul {
        display: flex;
    }
    #footer .left-footer .item a {
    display: block;
    width: 20px;
    height: 18px;
    font-size: 20px;
    color: white;
    margin-top: -3px;
    }
    
    #footer .right-footer {
        display: flex;
        margin-left: auto;
        padding-right: 20px;
    }
    #footer .right-footer ul {
        display: flex;
        justify-content: flex-end;
        margin-top: 2px;
    }
    #footer .right-footer ul li {
        color: white;
      font-size: 12px;
      border-right: 1px solid #ffbc9b;
      height: 10px;
      margin: 0 10px;
      padding-right: 10px;
    }
    #footer .right-footer ul li a {
        color: white;
    }
    #footer .right-footer ul li:last-child {
        border-right:0px;
    }
    #footer .right-footer ul li:hover a {
        text-decoration: underline;
    }